@charset "utf-8";
{margin:0;padding:0}
body,h3,h4,h2,h1,h5,table,td,th,ul,li,ol,dd,dt,dl,div,span,p,b,i,s,em,thead,tbody,font,select,input,option{margin:0;padding:0}
body{font-size:12px; font-family: Arial,simsun;}
em,i,s,b{ font-style:normal; text-decoration:none;}
img{border:none;}
body a{outline:none;blr:expression(this.onFocus=this.blur());text-decoration:none;color:#444;outline:none;cursor:pointer}
div,ul,li{ list-style-type:none;overflow:hidden}
