@charset "utf-8";
/*index basic*/
.center .body li p span em{background: url(../images/bg/index_bg0.png);_background-image: url(../images/bg/index_ie6.png);}
.updo li{position: relative;z-index: 99;}
.updo li s{width: 11px;height: 11px;display: block;position: absolute;right: 9px;top: 12px;background: transparent url(../images/bg/nav_xia.jpg);cursor: pointer;}
.updo li.hover s{background: transparent url(../images/bg/nav_xia1.jpg)}
.updo li .xia{display: none;width: 93px;background: #fff;position: absolute;left: -1px;top: 38px;z-index: 102;}
.updo li.hover .xia{display: block;border: 1px solid #e52f05;border-top: 0;}
.updo li .xia p{width: 100%;height: 30px;line-height: 30px;text-align: center;border-bottom: 1px solid #ddd;}
.updo li .xia p a{width: 100%;height: 100%;display: block;padding: 0;color: #e52f05;font-weight: 400;}
.updo li .xia p a:hover{background: none;margin: 0;text-decoration: underline;}
.updo1 li .xia{width: 102px;}
/**/
.menu{width:998px;margin: 10px auto;border-bottom:1px solid #ccc;overflow: hidden;}
.m_l1,.m_mid{float: left;}
.m_l1{width:213px;height: 460px;border:1px solid #ccc;border-bottom:0;background: #fffbe6;}
.m_l1 ul{height: 456px;border: 2px solid #ebebeb;}
.m_l1 li{width:199px;padding-left:10px;float: left;border-bottom: 1px solid #ccc;}
.m_l1 li.kp{border:0;}
.m_l1 li span{width: 100%;height: 21px;line-height: 21px; padding-top:11px;display: block;font-size: 14px;font-weight:bold;color: #333;}
.m_l1 li span s{width: 20px;height: 20px; display: inline-block;margin-right:3px;background-position: -2px -88px;vertical-align: middle;}
.m_l1 li.sz span s{background-position: -23px -88px;}
.m_l1 li.kp span s{background-position: -44px -88px;}
.m_l1 li dl{margin-bottom: 8px;zoom:1;}
.m_l1 li dl:after{visibility:hidden;display:block;font-size:0;content:" ";clear:both;}
.m_l1 dt,.m_l1 dd{float: left;line-height: 22px;}
.m_l1 dt{width:40px;font-weight: bold;color: #585858;}
.m_l1 dd{width:150px;}
.m_l1 a{color:#585858;margin-right: 10px; float: left;white-space: nowrap;line-height: 22px;}
.m_l1 a:hover{color: #e52e04;}
.m_l1 li p{margin: 9px 0 10px;zoom:1;}
.m_l1 li p:after{visibility:hidden;display:block;font-size:0;content:" ";clear:both;}
.m_mid{width: 560px;overflow: hidden;}
.m_mid .ad{width: 557px;height: 266px;margin: 0 1px;overflow: hidden;position: relative;}
.m_mid .ad ul{position: absolute;left: 0;top: 0;}
.m_mid .ad li{width: 557px;height: 266px;float: left;}
.m_mid .ad img{width: 557px;height: 266px;}
.m_mid .ad div{position: absolute;bottom: 10px;left: 0;height: 13px;width: 100%;text-align: center;}
.m_mid .ad div span{width: 12px;height: 12px;display: inline-block;margin-left: 5px;background: url(../images/bg/page.png) no-repeat;cursor: pointer;opacity: 0.7;-moz-opacity: 0.7;_filter: alpha(opacity=70);}
.m_mid .ad div span.cur{opacity: 1;-moz-opacity: 1;_filter: alpha(opacity=100);}
.m_mid .ad .prev,.m_mid .ad .next{display: none;width: 28px;height: 60px;position: absolute;background: url(../images/bg/index-pn.png) no-repeat;_filter:alpha(opacity=40);}
.m_mid .ad .prev{left: 0;top: 100px;background-position: 0 0;}
.m_mid .ad .next{right: 0;top: 100px;background-position: -32px 0;}
.m_mid .ad .prev.hover{background-position: 0 -62px;}
.m_mid .ad .next.hover{background-position: -32px -62px;}
.m_mid .tab{width: 100%;margin:8px auto 0;border-top:1px solid #ccc;}
.m_mid .tab .title{height:30px;line-height:30px;border-bottom: 1px solid #ddd;overflow: visible;padding-left: 14px;background-color: #f6f6f6;background-position: 0 -378px;}
.m_mid .tab .title span{width:80px;height: 30px;display:block;float:left;text-align:center;font-size: 14px;font-weight:bold;color: #3c3c3c;border-right: 1px solid #ddd;border-left: 1px solid #ddd;margin-left: -1px;cursor: pointer;position: relative;_bottom: -1px;}
.m_mid .tab .title span.hover{color:#ff1616;border-bottom: 1px solid #fff;background-color: #fff;}
.m_mid .tab .title span i{display:none;width: 100%;height: 3px;overflow:hidden;background-color: #f44545;position: absolute;left: 0;top: -1px;}
.m_mid .tab .title span.hover i{display: block;}
.m_mid .tab .bod div{display: none;width:540px;margin: 10px auto;overflow: hidden;}
.m_mid .tab .bod div.hover{display: block;}
.m_mid .tab .bod p{overflow: hidden;}
.m_mid .tab .bod span{color:#8c8c8c;}
.m_mid .tab .bod b{width:100%;display: block;margin: 8px 0;}
.m_mid .tab .bod b *{vertical-align: middle;font-size: 18px;text-align: center;display: inline-block;*display:inline;*zoom:1;}
.m_mid .tab .bod b s{width: 70px;height: 70px;margin-right: 3px;background-position: -124px -38px;}
.m_mid .tab .bod b em{width: 41px;height: 41px;line-height: 38px;color: #fff;margin-right: 3px;background-position: -109px -110px;}
.m_mid .tab .bod b em input{width: 29px;height: 23px;line-height: 23px;font-weight: bold;padding: 3px 0;background: none;border: 0;color: #fff;cursor: pointer;margin: -2px 0 0 -1px;*margin: 4px 0 -1px -2px;}
.m_mid .tab .bod b em input.cur{background: url(../images/bg/focus.png) no-repeat;color: #666;}
.m_mid .tab .bod b s.dal{background-position: 0 -222px;}
.m_mid .tab .bod b em.blue{background-position: -150px -110px;}
.m_mid .tab .bod b i{width: 52px;height: 32px;line-height:32px;margin: 0 5px 0 8px;font-size: 14px;color: #444;background-position: -1px -152px;cursor: pointer;}
.m_mid .tab .bod b strong{width: 93px;height: 34px;line-height: 31px;font-size: 14px;color: #fff;text-indent: -999em;background-position: -55px -152px;cursor: pointer;}
.m_r{float: right;width: 223px}
.m_r p.user{margin-bottom: 8px;height: 42px;overflow: hidden;}
.m_r p.user a.use{width: 104px;height: 42px;float:left;font: bold 16px/42px "\5b8b\4f53";margin-left:5px;text-align: center;text-indent: -999em;color: #eb6003;text-decoration: none;background: url(../images/bg/index_login.jpg) no-repeat;_display:inline;}
.m_r p.user a.use:hover{background-position: 0 -42px;}
.m_r p.user a.reg{margin-left: 8px;background-position: -104px 0;}
.m_r p.user a.reg:hover{background-position: -104px -42px;}
.m_r p.user .dlu{width: 86%;margin: 0 auto;display: block;line-height: 21px;}
.m_r p.user .dlu a{color: #145fab}
.m_r p.user .dlu a:hover{text-decoration: underline;}
.m_r p.user .dlu span{margin-left: -7px;}
.m_r p.user .dlu span a{margin: 0 5px;}
.m_r .tab{height: 219px;border: 1px solid #ccc;border-bottom: 0;padding-bottom:2px;}
.m_r .tab .title{height: 28px;line-height: 28px;color: #333;background-color: #f6f6f6;margin-left: -1px;overflow: visible;background-position: 0 -378px;}
.m_r .tab .title span{width:109px;height: 28px; display: block;float: left;border-left: 1px solid #ddd;border-bottom: 1px solid #ddd;text-align: center;cursor: pointer;}
.m_r .tab .title span.hover{background-color: #fff;border-bottom-color: #fff;font-weight: bold;}
.m_r .tab .bod{margin: 11px 0;overflow: hidden;zoom: 1;*margin: 0;*padding:  11px 0;}
.m_r .tab .bod div{width:200px;margin: 0 auto;line-height:24px;display: none;zoom: 1;}
.m_r .tab .bod div.hover{display: block;}
.m_r .tab .bod div ul{height: 156px;overflow: hidden;}
.m_r .tab .bod div ul li{height: 26px;line-height: 26px;vertical-align: top;}
.m_r .tab .bod div strong{float: left;width: 155px;overflow: hidden;white-space: nowrap;text-overflow: ellipsis;}
.m_r .tab .bod div strong a{color: #434343;font-weight: 400;}
.m_r .tab .bod div strong a:hover{color: #e62e04;}
.m_r .tab .bod div em{float: right;color: #888;}
.m_r .tab .bod div a.more{margin: 0;font-family: "\5b8b\4f53";}
/*手机购彩*/
.mob_buy{border-bottom: 0;background-color: #f5f5f5;}
.mob_buy .body{padding: 26px 0;}
.mob_buy .body dt,.mob_buy .body dd{float: left;}
.mob_buy .body dt div{width: 103px;height: 103px;padding-right: 5px;}
.mob_buy .body dt div img{width: 100%;height: 100%;}
.mob_buy .body dd a{width: 86px;height: 30px;display: block;background-position: -1px -188px;}
.mob_buy .body dd a.android{background-position: -87px -188px;margin-top: 6px;}
.mob_buy .body dd a.touch{background-position: -71px -260px;margin-top: 6px;}
/**/
.today,.center{float: left;}
.kj{width: 1000px;margin: 0 auto;}
.center{width: 546px;margin-left: 7px;zoom:1;_display: inline;}
div.center .body{width:95%;height:320px;}
.center .body ul{margin-bottom: -1px;*margin-bottom: -4px;}
.center .body li{height: 106px;*height: 107px;overflow: hidden;border-bottom: 1px dashed #c5c5c5;}
.center .body li p{width: 48.9%;height: 32px; line-height: 34px;font-size: 14px;color: #8c8c8c;float: left; padding-right: 1%;overflow: hidden;white-space: nowrap; text-overflow: ellipsis;}
.center .body li p a.f60{padding-left: 6px;}
.center .body li p span{display: inline-block;width: 46px; height: 18px;line-height: 18px;font-size: 12px;color: #fff;text-align: center;background-color: #e52e04;vertical-align: middle;margin-right: 8px;position: relative;_margin-top: 5px;}
.center .body li p span em{position: absolute;top: 18px;left: 49%;background-position: -164px -177px; width: 6px;height: 3px;}
.center .body li div{clear:both;height: 32px; line-height: 34px;font-size: 14px;color: #8c8c8c;overflow: hidden;white-space: nowrap;text-overflow:ellipsis;}
.center .body li div a{margin-right: 14px;}
.center .body li a:hover{color: #e62e04 !important;}
.zx{float: right;width: 223px;}
.zx .zj{margin-bottom: 9px;}
.zx .zj .body{height: 169px;padding: 8px 0;overflow: hidden;color: #3c3c3c;}
.zx table td,.zx table th{height:34px;text-align: center;/*border-bottom: 1px dashed #ddd;*/}
.zx table td:first-of-type{text-align: left;}
.zx table th{font-weight: 400;color: #f00;text-align: right;}
.zx .cn li{float: left;width: 62px;height: 74px;margin-right: 4px;display: inline;}
.zx .cn li img{width: 100%;height: 100%;}
.zx .cn .body{padding: 10px 0;}
.hot{width: 1000px;margin: 10px auto;}
.hm{width: 776px;float: right;border-bottom: 0;height: 345px;}
.hm .tit{background: #e85c00 url(../images/bg/hm_rightbg.jpg) right 0 no-repeat;color: #fff;border-bottom-color: #e8e8e8;}
.hm .tit h3 span{height:26px;line-height:26px;font-size:12px;font-weight: 400;padding:0 10px;display: inline-block;cursor: pointer;*display: inline;*zoom:1;margin-top: 4px;}
.hm .tit h3 span.hover{background-color: #e8e8e8;font-weight: 700;color:#333;}
.hm div.body.hover{display: block;}
.hm .tit .more{color: #fff;}
.hm .body{width: 100%;display: none;}
.hm table{width: 100%;}
.hm table th{height: 33px;color: #333;background-color: #e8e8e8;font-weight: 400;text-align: left;border-bottom: 1px solid #ddd;}
.hm table td{height: 34px;text-align: left;border-bottom: 1px solid #ddd;color: #3c3c3c;}
.hm table td.tdmark{position: relative;}
.hm table tr.odd td{background-color: #f8f8f8}
.hm table tr:hover td{background-color: #fffee6;}
.hm table td span{color: #25a;}
.hm table td em{color: #f60;}
.hm table td .x_jdt{background: #FFF;border: 1px solid #ddd;height: 2px;width: 70px;text-align: left;line-height: 2px;border-left: none;_overflow: hidden;margin: 2px 0 0;_height: 3px;}
.hm table td .x_jdt em{display: block;height: 4px;background-color: #f60;margin: -1px -1px -1px 0px;}
.hm table td input{width: 38px;border: 1px solid #ddd;color: #333;height: 18px;line-height:18px;padding: 1px 0;text-align: center;*margin-top: -1px;}
.hm table td .shouye a{vertical-align: middle;}
/*.hm table td .shouye a img{height: 19px;}*/
.hm table td a{color: #10429E}
.hm table td a.buy{width: 45px;height: 20px;line-height: 20px;display: block;background-color: #f60;color: #fff;margin: auto;}

