#foreach ($daymatch in $list)
<DIV class=dc_hs style="text-align: left; padding-left: 10px;">
<STRONG>${daymatch.day} ${daymatch.week} ${daymatch.num}场比赛可投注</STRONG>&nbsp;<A href="javascript:void(0)">隐藏</A>
</DIV>

<table class="dc_table dc_tb_lq" border=0 cellSpacing=0 cellPadding=0 width="100%" id="d_${daymatch.day}">
	<COLGROUP>
	  <COL width="50">
  <COL width="60">
  <COL width="64">
  <COL width="114">
  <COL width="44">
  <COL width="44">
  <COL width="44">
  <COL width="44">
  <COL width="44">
  <COL width="44">
  <COL width="44">
  <COL width="44">
  <COL width="64">
	  <COL width=""></COLGROUP>  
	#foreach ($match in $daymatch.matchs)
	<tr fid="${match.mid}" isend="0" pendtime="${match.et}" homeTeam="${match.hn}" guestTeam="${match.gn}" win="" lost="" lg="${match.short_mname}" pdate="${match.itemid}" pname="${match.itemid}" mid="${match.mid}" zid="${match.itemid}">
		<td><SPAN mark="name" ><INPUT class=i-cr name="m${match.itemid}" id="m${match.itemid}" type="checkbox" value="${match.itemid}" checked="checked"><em title="${match.name}">${match.name.substring(2,5)}</em></SPAN></td>
		<td style="BACKGROUND: ${match.cl}; COLOR: #fff"><A style="COLOR:white" href="" target="_blank" id="mn${match.itemid}" title="${match.mname}">${match.short_mname}</A></td>
		<td style="border-right:1px solid #ccc">
			<SPAN class="eng endtime" title="截止时间：${match.et}">${match.short_wet.substring(5,11)}</SPAN>
			<SPAN style="DISPLAY: none" class="eng matchtime" title="开赛时间：${match.mt}">${match.short_wmt.substring(5,11)}</SPAN>
		</td>
		<td>
			<a class="black" title="${match.gn}" href="" target="_blank" id="gn${match.itemid}">
				#if ($match.gn.length()>4)
					${match.gn.substring(0,4)}
				#else
					${match.gn}
				#end
			</a> 
			vs 
			<a class="black" title="${match.hn}" href="" target="_blank" id="hn${match.itemid}">
				#if ($match.hn.length()>4)
					${match.hn.substring(0,4)}
				#else
					${match.hn}
				#end
			</a>
		</td>
		
		#if($match.sfSale > 0)
			<td class="h_br" style="border-left:1px solid #ccc"><input id=g${match.itemid}_t1 style="display:none;" value=0 type=checkbox data-sp="${match.sf0}" data-type="sf">${match.sf0}</td>
			<td class="h_br"><input id=g${match.itemid}_t2 style="display:none;" value=3 type=checkbox data-sp="${match.sf3}" data-type="sf">${match.sf3}</td>
		#else
			<td colspan="2" style="background:#f5f5f5">未开玩法</td>
		#end
		#if($match.rfsfSale > 0)
			<td class="h_br"><input id=g${match.itemid}_t3 style="display:none;" value=0 type=checkbox data-sp="${match.rf0}" data-type="rfsf" data-rf="${match.gclose}">${match.rf0}</td>
			<td >${match.close}</td>
			<td  style="border-left:1px solid #ccc" class="h_br"><input id=g${match.itemid}_t4 style="display:none;" value=3 type=checkbox data-sp="${match.rf3}" data-type="rfsf" data-rf="${match.close}">${match.rf3}</td>
		#else
			<td colspan="3" style="background:#f5f5f5">未开玩法</td>
		#end
		
		#if($match.dxfSale > 0)
			<td class="h_br"><input id=g${match.itemid}_t5  style="display:none;" value=3 type=checkbox data-sp="${match.dxf3}" data-type="dxf">${match.rf0}</td>
			<td >${match.zclose}</td>
			<td  style="border-left:1px solid #ccc" class="h_br"><input id=g${match.itemid}_t6  style="display:none;" value=0 type=checkbox data-sp="${match.dxf0}" data-type="dxf">${match.rf3}</td>
		#else
			<td colspan="3" style="background:#f5f5f5">未开玩法</td>
		#end
		<td class="unselecttd" style="border-right:1px solid #ccc">
	
			<div class="tdlh" >
      		<div class="sel_view" style="display: block;"></div>
    	    <p class="tb_sfc_on" style="display: none;"><span class="s_more_hide"><a class="yc">隐藏</a></span></p>
	    	<span class="s_more_show" style="display: inline;"><a class="xs">显示</a></span>
      		<div class="tdab" style="display: none; ">

 				<table width="100%" cellspacing="0" cellpadding="0" style="width:438px;float:right" class="lchhtab">
 						<colgroup><col width="45"><col></colgroup>
 						<tbody>
								#if($match.sfcSale > 0)
											<tr class="tr2"><td>&nbsp;</td><td><span>胜1-5</span><span>胜6-10</span><span>胜11-15</span><span>胜16-20</span><span>胜21-25</span><span>胜26+</span></td></tr>
											<tr>
												<td>客胜</td>
												<td style="border-left:1px solid #ccc">
													<a><INPUT id=g${match.itemid}_sfc_8 style="display:none;" value=11 type=checkbox data-sp="${match.g1}" data-type="sfc">${match.g1}</a>
													<a><INPUT id=g${match.itemid}_sfc_9 style="display:none;" value=12 type=checkbox data-sp="${match.g2}" data-type="sfc">${match.g2}</a>
													<a><INPUT id=g${match.itemid}_sfc_10 style="display:none;" value=13 type=checkbox data-sp="${match.g3}" data-type="sfc">${match.g3}</a>
													<a><INPUT id=g${match.itemid}_sfc_11 style="display:none;" value=14 type=checkbox data-sp="${match.g4}" data-type="sfc">${match.g4}</a>
													<a><INPUT id=g${match.itemid}_sfc_12 style="display:none;" value=15 type=checkbox data-sp="${match.g5}" data-type="sfc">${match.g5}</a>
													<a><INPUT id=g${match.itemid}_sfc_13 style="display:none;" value=16 type=checkbox data-sp="${match.g6}" data-type="sfc">${match.g6}</a>
												</td>
											</tr>
											<tr>
												<td>主胜</td>
												<td style="border-left:1px solid #ccc">
													<a><INPUT id=g${match.itemid}_sfc_14 style="display:none;" value=01 type=checkbox data-sp="${match.h1}" data-type="sfc">${match.h1}</a>
													<a><INPUT id=g${match.itemid}_sfc_15 style="display:none;" value=02 type=checkbox data-sp="${match.h2}" data-type="sfc">${match.h2}</a>
													<a><INPUT id=g${match.itemid}_sfc_16 style="display:none;" value=03 type=checkbox data-sp="${match.h3}" data-type="sfc">${match.h3}</a>
													<a><INPUT id=g${match.itemid}_sfc_17 style="display:none;" value=04 type=checkbox data-sp="${match.h4}" data-type="sfc">${match.h4}</a>
													<a><INPUT id=g${match.itemid}_sfc_18 style="display:none;" value=05 type=checkbox data-sp="${match.h5}" data-type="sfc">${match.h5}</a>
													<a><INPUT id=g${match.itemid}_sfc_19 style="display:none;" value=06 type=checkbox data-sp="${match.h6}" data-type="sfc">${match.h6}</a>
												</td>
											</tr>
										#else
											<tr></tr><tr></tr>
										#end
						 </tbody></table> </div> </div>
		</td>
		<td style="">
			<a  target="_blank" id="ox${match.itemid}">析</a>
			<a  target="_blank" id="oz${match.itemid}">欧</a>
		</td>
		
	</tr>
	#end
</table>
#end		
			
			
			
			
	
