@charset "utf-8";
#account-wide-info .explain-text {
	font-size: .8em;
	color: #666666;
}


#account-wide-info td {
	text-align: left;
}

#account-wide-info .modify-action {
	margin-left: 5px;
}

.ui-dialog-content > p {
	height: 24px;
}
.ui-dialog-content > p > * {
	float: left;
}
.ui-dialog-content > p > label {
	width: 90px;
}
.ui-dialog-content > p > input[type=password],
.ui-dialog-content > p > input[type=text] {
	width: 120px;
}

.ui-dialog-content > .errdiv {
	width:100%;
	text-align:center;
	margin-top: 30px;
	font-size: .8em;
	color: #CD0A0A;
}

.xiayi-tubiao {
	margin-top: 4px;
}

#resetbanknamedialog > #choosebank {
	width:100%;
}