@charset "utf-8";
.normal-table {
	-moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    background-color: #fff;
    border-color: #cdcdcd;
    border-spacing: 0;
    border-style: solid;
    border-width: 0;
    margin: 0;
    text-align: left;
    width: 100%;
}
.normal-table th,
.normal-table td {
	-moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    border-color: #cdcdcd;
    border-style: solid;
    border-width: 1px 1px 1px 1px;
    border-collapse: collapse;
    padding: 4px;
    vertical-align: middle;
}
.normal-table th,
.normal-table > thead > tr > td {
	background-color: #E0EAF0;
    color: #000;
    font: bold 12px/18px Arial,Sans-serif;
    text-shadow: 0 1px 0 rgba(204, 204, 204, 0.7);
}
.normal-table > thead > tr > th,
.normal-table > thead > tr > th {
	height: 28px;
}
.normal-table > tbody > tr > td {
	background-color: #fff;
    color: #3d3d3d;
}
.normal-table > tfoot > tr > td {
	border-width: 0;
	padding-right: 0;
}
table.normal-table.table-hover tbody tr:hover > td {
	background-color: #f5f5f5;
}
.normal-table > tbody > tr.odd > td {
	background-color: #fff;
}
.normal-table > tbody > tr.even > td {
	background-color: #f9f9f9;
}
.normal-table .paging {
	width: 100%;
}
.normal-table .paging .show-num-info{
	float:left;
	margin-top: 3px;
}
.normal-table .paging .paging-btn{
	float:right;
	margin-top: 0;
}
.normal-table .paging .paging-btn .cur-num a {
	color: #CD0A0A;
}
