/*主页*/
.header,.cp-list li,.tz-menu,.tz-list{width:100%;padding:0.5em 0;overflow:hidden}
.header .user{float: right;}
.user .app,.user .user-login{display: inline-block;width:30px;height:30px;margin-right:0.5em;text-indent:-999em;background-size:30px}
.user .app{background-position: 0 0}
.user .user-login{background-position: 0 -29px}
.header .m-logo{display:block;width: 23.6%;margin-left:1.2em}
.img-list{width: 100%;height: auto;}
.img-list-body img{width:100%;max-height:220px;}
.focus{  height:150px;  margin:0 auto; position:relative; overflow:hidden;   }
.focus .hd{ width:100%; height:2px;text-align:center;position:absolute; z-index:1;bottom:0}
.focus .hd ul{ overflow:hidden; display:-moz-box; display:-webkit-box;background-color:rgba(51,51,51,0.5);   }
.focus .hd ul li{height:100%;-moz-box-flex:1; -webkit-box-flex:1;box-flex:1; }
.focus .hd ul .on{ background-color:#FF4000;  }
.focus .bd{ position:relative; z-index:0; }
.focus .bd li img{ width:100%; height:150px;}
.app-notice{height:3.5em;overflow: hidden}
.notice{width:96%;height:3.5em;line-height:3.5em;padding:0 2%;font-size:1.1em;color:#f60;background-color:#fff;overflow: hidden}
.notice span{padding-right:3px;color: #333}
.nav{width:100%;padding:6px 0;border-top:1px solid #ccc;background-color: #f0f0f0}
.nav table{width: 100%;background-color: #fff}
.nav table td{text-align: center;padding: .6em 0;border:1px solid #ccc}
.nav-list{color: #333}
.nav-list h3{display:inline-block;width: 30px;height: 29px;-webkit-background-size: 30px;-moz-background-size: 30px 29px;background-size: 30px}
.top-fixed{position: fixed;top: 0;left: 0;padding: 0}
.nav-list .login{background-position:0 -59px}
.nav-list .reg{background-position:0 -88px}
.nav-list .hm{background-position:0 -117px}
.nav-list .lokj{background-position:0 -146px}
.cp-list{border-bottom: .2em solid #ccc}
.cp-list li{border-top: 1px solid #ccc;vertical-align: top;overflow: hidden}
.caipiao-ap{float: left;width:60px;margin:0 2%}
.caipiao-ap img{width: 100%;}
.caipiao-tit{float: left;width: 75%;font-size: 1.3em;font-family: \5fae\8f6f\96c5\9ed1;color: #040c0f}
.caipiao-tit em{display: block;height: 1.6em;padding-top: 10px}
.caipiao-tit cite{display: block;height: 1.6em;font-size:0.7em;color:#888}
.cp-news{padding:6px 0;font-size:1.1em;background-color: #f0f0f0}
.cp-news-tit{width: 96%;height:3.5em;line-height:3.5em;padding: 0 2%;border-top:1px solid #ccc;background-color: #fff}
.cp-news-list{background-color: #fff;overflow: hidden;border-bottom: .2em solid #ccc}
.cp-news-list li{border-top:1px solid #ccc;vertical-align: top}
.cp-news-list .ico-click{position: relative}
.cp-news-list a{display:block;height:3.0em;line-height:3.0em;overflow: hidden}
.cp-news-list span{color: #999;padding:0 6px 0 8px}
.cp-news-list em{color: #444}
.caipiao-pay{width: 100%;height: 3.5em;line-height: 3.5em;font-size:1.1em;color:#fff;background-color: #3e3e3e}
.caipiao-pay a{padding:0 1em;color:#fff;}
.index-footer{padding: .7em;background-color: #f0f0f0}
.index-footer .footer-app{padding:.3em 0;text-align: center;line-height:1.8em;font-size: 1.1em;}
.index-footer .version{color: #444;}
.version a{color: #444;padding:0 1em}
.index-footer .call-center a{margin:.6em;padding: .5em;color:#969696;border: .1em solid #bcbcbc;border-radius:.4em;background-color: #fff}
.index-footer .ICP{color:#a2a2a2}
/*充值*/
.cz_icon1,.cz_icon2,.cz_icon3,.cz_icon4,.cz_icon5,.cz_icon6,.cz_icon7,.cz_icon8{display:inline-block;width:36px;height:36px;background-position:0 0; vertical-align:middle;}
.cz_icon2{background-position:0 -39px;}
.cz_icon3{background-position:0 -78px;}
.cz_icon4{background-position:0 -117px;}
.cz_icon5{background-position:0 -156px;}
.cz_icon6{background-position:0 -195px;}
.cz_icon7{background-position:0 -234px;}
.cz_icon8{background-position:0 -274px;}
.cz_icon1,.cz_icon2,.cz_icon3,.cz_icon4,.cz_icon5,.cz_icon6,.cz_icon7,.cz_icon8{background-image:url(../img/cz_icon.png);background-repeat:no-repeat; background-size:36px 315px;}
.pay-money .pay-money-in{width: 94%;margin: 0 auto;padding:0 3%;background-color: #fff}
.pay-money-in p{padding:1.2em 0 1.0em;border-bottom: 1px dotted #000;position: relative}
.pay-money-in input{width:60%;height: 1.3em;margin:0 0 0 1%;padding:5px 0 5px 5px;border:0 none;outline: 0}
.pay-money-in p i{position: absolute;right: 0;top: 40%;color: #999}
.pay-money-in .pay-money-ch{display: table;width: 100%}
.pay-money-ch li{display: table-cell;text-align: center;padding: 1em 0}
.pay-money-ch li em{display: inline-block;width: 51%;padding: 1.1em;border: 0.15em solid #b3b3b3;border-radius: 8px;position: relative}
.pay-money-ch li .cur{color: #f40;border-color: #f40;}
.pay-money-ch li .cur:after{position: absolute;bottom: -2px;right: -3px;width:28px;height:20px;border-bottom-right-radius:5px;content:"";background: url("../img/cz-true.png") no-repeat;background-size: 100% 100%}
.pay-bank{display: table;width: 100%;font-size: 1.14em;border-top:1px solid #ccc}
.pay-bank ul{display: table-row}
.pay-bank ul li{display: table-cell;margin-top:-2px;padding: 15px 10px;border-bottom:1px solid #ccc;vertical-align: middle}
.bank-ico{width: 40px}
.bank-true{width: 30px}
.bank-about{color: #888}
.pay-tip{padding:1.4em 10px;font-size: 1.14em;color: #808080;background-color: #f0f0f0}
/*开奖*/
.kj-menu{padding-bottom: 0}
.kj-menu .kj-menu-b{padding: 1em 0;border-top:1px solid #ccc;border-bottom:1px solid #ccc;background-color: #fff}
.kj-menu-b ul{display: table;width: 94.44%;margin:0 auto;border: 0.14em solid #f60;border-radius: 6px}
.kj-menu-b ul li{display: table-cell;padding:0.7em 0;letter-spacing:0.14em;text-align: center;border-left:0.13em solid #f40}
.kj-menu-b ul li:first-of-type{border:0}
.kj-menu-b ul li.cur{background-color: #f40}
.kj-menu-b ul li a{color:#f40;}
.kj-menu-b ul li.cur a{color:#fff}
.kj-list{border-bottom: 1px solid #ccc;margin-bottom: 4em}
.kj-list ul{width: 97%;margin:-1px auto 0;overflow: hidden}
.kj-list ul li{border-top: 1px solid #ccc}
.kj-list ul li a{color: #999}
.kj{width: 93%;padding:1em 0;}
.kj-tit{padding: 0.4em 0}
.kj-tit strong{padding-right:0.8em;font-size: 1.14em;color: #333}
.kj-tit span{margin-left: 0.8em}
.kj cite{display:inline-block;margin-left:4px;padding: 0.3em 0.25em;font-size:1.17em;font-weight:700;color:#e52e04;border: 1px solid #e2e2e2;border-radius: 5px}
.kj b{}
.kj-list .ico-click i{margin: 2.9em 0.5em 0 0}
@media screen and (min-width: 320px) and (max-width: 340px){.kj cite{font-size:1.1em}}
/*快乐扑克*/
.pok em{display: inline-block;width: 14px;height: 16px;padding-left: 19px;background:transparent;color: #000;margin-right: 8px;line-height: 16px;position: relative;}
.S_icon:before,.C_icon:before,.H_icon:before,.D_icon:before{ position:absolute;left:4px;top:1px; background-position:0 0; width:13px; height:13px; content:"";}
.C_icon:before{ background-position:0 -36px; width:11px; height:13px;}
.H_icon:before{ background-position:0 -19px; width:12px; height:13px;}
.D_icon:before{ background-position:0 -54px; width:9px; height:12px;}
.S_icon:before,.C_icon:before,.H_icon:before,.D_icon:before{ background-image:url(../img/huase_icon.png); background-size:13px 70px;}
/*新闻资讯*/
.news-top,.m-reg{margin-top: 3.3rem;padding: 10px 3%;border-top:1px solid #ddd}
.news-top{margin-bottom:4.6rem}
.news-tit{padding:0 0 0.4em;border-bottom: 1px dotted #ccc}
.news-tit h1{max-height:4em;line-height:2em;font-size: 1.3em;overflow: hidden;}
.news-tit strong{font-size:0.8em;font-weight:400;color:#777}
.news-top p{padding: 1.15em 0 0;font-size: 1.15em;line-height:1.66;text-indent:2em;color:#444;}
.app-footer{padding-top:1em;background-color: #e3e3e3;}
/*登录-注册*/
.m-reg{border-bottom: 2px solid #ccc}
.m-reg .reg{width: 88%;margin: 0 auto;}
.reg li{vertical-align:top;padding:0.3em 0;font-size:1.14em}
.reg li:first-of-type{border-bottom: 1px solid #ddd}
.reg label{padding: 0 1em 0;vertical-align:middle}
.reg input{width:70%;height: 1.2em;line-height: 1.2em;padding: 0.6em 0;border: 0 none}
.reg-read{padding:0 0 0.7em;text-align: center;color:#888}
.re-pass{width:90%;margin:0 auto;text-align: right !important}
.reg-read input{vertical-align: middle;vertical-align: -3px;margin: 0 0.3em 0 0}
.reg-read a{color:#f40}
/*投注*/
.tz-menu{color:#5c5c5c;text-indent:1em;background-color:#f2f2f2;border:1px solid #E4E4E4;border-width:1px 0}
.tz-list{font-size: 0.9em;line-height: 1.2em;color: #5c5c5c;text-align:center;border-bottom: 1px solid #e4e4e4}
.tz-list .list-l{float:left;width:18%;}
.tz-list .list-l *{display: block;height:1.8em;line-height: 1.8em;overflow: hidden}
.list-l i{font-size:0.8em;color: #aaa;white-space: normal}
.tz-list .list-r{float:right;display: table;width:81.8%;box-sizing:border-box}
.list-r .tz-true{float:left;width: 35.7%;margin-left:0.3em}
.list-r .tz-true:first-of-type{margin:0}
.list-r .tz-true-middle{width:5em}
.tz-true em{display: block;line-height:1.8em;text-align:center;color:#f40;border: 1px solid #f40;border-radius: 0.5em}
.tz-true em.cur{background-color: #f40;color:#fff}
.tz-true span{display: block;line-height: 2em;color: #aaa;text-align: center}
.handBtn{ width:46%; line-height:2.1em; text-align:center; color:#f6851f;background:none; font-size:1.3em; border:1px solid #e2e2e2; background:#fff; font-weight:bold; margin:.5rem 0; border-radius:.2rem; -webkit-border-radius:.2rem; -moz-border-radius:.2rem}
.clearBtn{ width:40%; text-align:left;padding-left: 5%}
.clearBtn:before{display:inline-table;content:"";width:.91em;height:.95em;padding:0 1em 0 0;background:url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAB8AAAAgCAMAAADdXFNzAAAAb1BMVEUAAAD2hR/2hR/2hR/2hR/2hR/2hR/2hR/2hR/2hR/2hR/2hR/2hR/2hR/2hR/2hR/2hR/2hR/2hR/2hR/2hR/2hR/2hR/2hR/2hR/2hR/2hR/2hR/2hR/2hR/2hR/2hR/2hR/2hR/2hR/2hR/2hR+fb35gAAAAJHRSTlMALVXdd/rufzYFI65qYMly505CGdMUopuSKQ703Ly3jdqGScB0rpRtAAABPUlEQVQoz22SWaKCMAxFI9JWkFEmcQDU7H+NryQh+IT7cVs4aZM2BVVZG2SZuoSNetMGi1rTb3hyh1X3RKdHkcXjKrTLDMLwacN92SEMASC3sK8ipyHFaJ+blIY3NvOwBOm8wTd9nLAnj70f8OA9xpP61xdzjhXnfUrvN3LmJTaSl4QpV6M8NVw3sGzOp1GeF/B97uk1ez0qH2vwcpPwrJv92SnvnuB1zYQP59nPZ+EyhXYQ3kq48uxKy1rhY0bpHsonR2lH4e44e2KVW2r/w/17GgFGwiMMYIlSAheshFd4AY0SImg1aChKG0irCEl8jyfhse5HnPJp+7h1XA9zqbfE2/qQ+DzE+SakifoQ6daYy8XnhfKaGlj5/aI48vkq8HrVyj8dbNV9aNDWqbY/U+OCXzmTgMoV+KvCEfkDRvAZr3Q+gJcAAAAASUVORK5CYII=") no-repeat center; background-size:.91em .95em; -webkit-background-size:.91em .95em}
.tzNum,.spfNum{padding:1em 0;border-top:1px solid #e4e4e4; border-bottom:1px solid #e4e4e4;}
.spfNum{width: 100%;position: relative}
.tzNum,.spfNum li{}
.tzNum p i{ float:left; color:#8e8e8e; font-size:.91rem; width:4.375rem}
.tzNum p span{ float:left; font-size:.97rem; color:#f03d3d; width:11.5rem}
.tzNum p span cite,.zfNum p cite{ color:#177ffc; padding-left:.4rem}
.pact{ padding:.6rem 0 0 .8rem; font-size:.9rem; color:#8e8e8e}
.zfText{ border:1px solid #dcdcdc; background:#fff; line-height:1.3rem; margin-top:.5rem; padding:.5rem .87rem .5rem 1.25rem}
.zfNum p{ color:#f03d3d; word-break:break-all}
.spfNum .errorBg{ top:1.3rem}
.spfNum .spfzpk span{ width:26%}
.errorBg{ position:absolute; padding:.7rem .5rem .6rem .9rem; right:-1.2em; top:0}
.errorBg .error2{ display:block; width:1.06rem; height:1.06rem; background:url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACMAAAAjCAMAAAApB0NrAAAAQlBMVEUAAADc3Nzc3Nzc3Nzc3Nzc3Nzc3Nzc3Nzc3Nzc3Nzc3Nzc3Nzc3Nzc3Nzc3Nzc3Nzc3Nz////p6eno6Ojx8fHi4uLCn5nCAAAAEHRSTlMA8UL2iOjg0HwnFgYDhbm4g6GjowAAAPJJREFUOMuVlO0OgyAMRQtDxKmzgL7/qy5zlsuHCdv5ZcyJrZcWylj0+rKKlX2teqE7nmZgMJhnY8zuwSUPN5fKNHLLOOWKVnyH0pmCOlW9JE34So26ys3opWX8Nu5YOG4kd+aSmtl9lMewp5Y+Oa1QvEjB+yQZomWQQv5DvBRIw0KahSjSqfgg73UqBUkUFNu4lkQRNrKcS1CApTLjCAVZExcEn/4OkKqUVlJkK6WVLG21EmIlbcgH0VWSId0oIh2SM85rvxSRAs6LDM4duUQ8mnJ+sugOzE8+h/e4n+e5vxf9/ervaX/f+/fGX/dP/x57A/nLPBMWHWWgAAAAAElFTkSuQmCC") no-repeat center; background-size:1.06rem 1.06rem; -webkit-background-size:1.06rem 1.06rem; -moz-background-size:1.06rem 1.06rem}
.sfcxs{ border-bottom:1px solid #e4e4e4; padding:.9em 0 .5rem 0; overflow:hidden; zoom:1}
.sfcxs li{float:left;width:78.5%;color:#343434}
.spfpl span{ display:inline-block;width:39%;color:#aaa;font-size:1.12em; text-align:center; margin-top:.2rem}
.spfpl span.spfvs,.spfNum .spfpl span.spfvs{ width:22%}
.spfzpk span{ float:left;width:30%;text-align:center;margin:0.6em 1.2% 0;height:2em;line-height:2em;font-size:1.13em;color:#f40;border:1px solid #f40;border-radius:5px;overflow:hidden;-webkit-border-radius:5px;-moz-border-radius:5px}
.spfzpk span.cur{background-color:#f40;color:#fff}
.bfpk span{ width:96%}
.sfcxs li:first-child{ width:5.3em;text-align:center;color:#5c5c5c}
.sfcxs li:first-child p{font-size:1.12em}
.sfcxs li:first-child cite{ display:block;color:#aaa}
.sfcxs li:last-child{ margin-right:0}
.spfzpkNum span{width:40%;float:left;text-align:center;}
.spfzpkNum span.spfvs{ width:18%}
.spfzpkNum span em{color:#177ffc}
.spfzpk,.spfzpkNum{overflow:hidden; zoom:1}
.hhzpk li{ position:relative}
.hhzpk li:first-child,.jqzpk li:first-child{ margin-top:2em}
.hhzpk .spfzpk span{ width:23%; height:2.62em; line-height:2.62em; margin-top:.5em}
.hhzpk .spfzpk em,.hhNum .spfzpk em{ float:left; width:1em; padding:.15em 1%; height:2.2rem; margin:.5em 1% 0 0; text-align:center; line-height:1; background:#ff9898; color:#fff; font-size:.75em; border-radius:.2em}
.hhzpk .spfzpk em.rq,.hhNum .spfzpk em.rq{ padding:.5em 1%; height:2.3em; background:#98c5ff}
.hhzpk .spfzpkNum span.spfvs{ width:10%}
.hhzpk .spfzpkNum span:last-child{ width:30%}
.jclqhh .spfzpk span{width:36.5%}
.jclqhh .spfzpk span b,.jclqhh .spfzpk span cite{ display:block; font-weight:normal; line-height:.5rem; margin-top:.5rem}
.jclqhh .spfzpk em{ background:#98c5ff}
.jclqhh .spfzpk em.rq{ background:#ff9898}
.jclqhh .hhmore{ top:.5rem}
/*篮彩*/
.jclqDxf .sfcxs li:first-child{margin-top:0.7em}
.spfzpk2 span{ width:35%; font-size:.75em;height:2.4em;line-height:1.4em;margin-top:0;padding:.4em 0;}
.spfzpk2 span.spfvs,.spfNum .spfzpk2 span.spfvs{width:20%}
.spfzpk2 span cite{ display:block;}
.spfzpk2 span.cur i{ color:#fff}
.jclqVs .spfzpk2 span{ width:42.8%}
.jclqVs .spfzpk2 b{ float:left;width:8%;padding-top:1em;font-size:.75em;font-weight:400;text-align:center;color:#343434;}
.jclqVs .spfpl span{ width:43.8%; margin:0 9.2% 0 1.2%}
.jclqVs .spfpl span:last-child,.jclqDxf .spfpl span:last-child,.jclqDxf .spfzpk span:last-child,.jclqhh .spfzpk span:last-child{margin-right:0}
.jclqDxf .spfzpk span{ width:40%;margin:.4em 17% 0 0}
.jclqDxf .spfzpkNum{ font-size:.95em}
/*.jclqDxf .spfzpkNum span.spfvs{}*/
.jclqDxf .spfpl span{width: 41%;margin: 0 17% 0 0}
/*双色球*/
.ssqkjlist{padding:.4em 0; background:#f9f9f9; border-bottom:1px solid #e2e2e2}
.ssqkjlist ul{line-height:1.6;font-size:1.15em;color:#8d8d8d;text-align:left;overflow:hidden;zoom:1}
.ssqkjlist ul li{ float:left; width:60%; padding-left:3%}
.ssqkjlist ul li.first{position:relative; width:14.5%; padding-left:3.5%; text-align:left; border-right:1px solid #e2e2e2}
.ssqkjlist ul li.first:after{ content:""; position:absolute; border:.1em solid #fff; width:.3125em; height:.3125em; background:#e5e5e5; right:-.25em; top:.45em;border-radius:.375em; -webkit-border-radius:.375em; -moz-border-radius:.375em; box-shadow:inset .2em 0 .1em rgba(4,0,0,0.2); -webkit-box-shadow:inset 0 .08em .08em rgba(4,0,0,0.2); -moz-box-shadow:.2rem 0 .1em rgba(4,0,0,0.2) inset}
.ssqkjlist li span{color:#f03d3d}
.ssqkjlist li em{padding-left:1em;color:#177ffc}
.relative{position:relative}
.shakeIco2{background-image:url(/img/fc/shake.png)}
.omitIco2{background-image:url(/img/fc/omitHover.png)}
.shakeomit{ position:absolute; width:9.6em;right:0; top:0}
.shakeomit cite{float:left; margin-top:.8em}
.shakeico{float:left;width:23px;height:18px;margin:.7em .15em 0 0;background-image:url(/img/fc/shake2.png);background-size:23px 18px}
.omitico,.omitico2{ float:left;width:17px;height:14px;margin:.8em .05em 0 .5em;background-image:url(/img/fc/omit2.png);background-size:17px 14px}
.omitico2{background-image:url(/img/fc/omitHover2.png)}
.ssqText{ padding-top:.8em; background:linear-gradient(top,#e2e2e2 0.2%,#e8e8e8 0.5%,#f3f3f3 .9%,#f7f7f7 95%); background:-webkit-linear-gradient(top,#e2e2e2 0.1%,#e8e8e8 0.2%,#f3f3f3 .5%,#f7f7f7 95%); background:-moz-linear-gradient(top,#e2e2e2 0.2%,#e8e8e8 0.5%,#f3f3f3 .9%,#f7f7f7 95%)}
.ssqText p{line-height:1.6; padding-left:.7em; font-size:1.11em}
.pdLeft08{padding-left:.8em}
.ssqBall cite{display:inline-block; background:#fff;color:#db150b;font-size:1rem;width:2.2rem;text-align:center;line-height:2.2rem; margin:.47rem .47rem .6rem 0;border-radius:2.2rem; box-shadow:0 0 0 1px #d6d6d6 inset; -webkit-box-shadow:0 0 0 1px #d6d6d6 inset; -moz-box-shadow:0 0 0 1px #d6d6d6 inset;}
.ssqblueBall cite{color: #106fe5}
.ssqBall cite.redBall{ background:#db150b; color:#fff; box-shadow:0 0 0 1px #db150b inset; -webkit-box-shadow:0 0 0 1px #db150b inset; -moz-box-shadow:0 0 0 1px #db150b inset}
.ssqBall cite.blueBall{ background:#106fe5; color:#fff; box-shadow:0 0 0 1px #106fe5 inset; -webkit-box-shadow:0 0 0 1px #106fe5 inset; -moz-box-shadow:0 0 0 1px #106fe5 inset}
.ssqBall cite:last-child,.omitnum cite:last-child{ margin-right:0}
.omitnum{ position:absolute; top:2.35rem; z-index:-1}
.omitnum cite{ display:inline-block; color:#bababa; width:2.2rem;margin:0 .47rem 2.1rem 0;; height:.9rem; padding-top:.3rem; text-align:center; font-size:.65rem}
.ssqxhblue{border-top:1px solid #e8e8e8; margin-top:.75rem}







